.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .kakao-login-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .kakao-login-button img {
    width: 200px; /* 버튼 이미지 크기 */
    height: auto;
  }
  